body{

font-family:Arial;
background:#f4f4f4;
padding:40px;
text-align:center;

}

.controls{

background:white;
padding:20px;
width:350px;
margin:auto;
border-radius:8px;
box-shadow:0 0 10px rgba(0,0,0,0.1);

}

input{

padding:8px;
width:80%;
margin-top:10px;

}

button{

padding:8px;
margin-top:10px;
cursor:pointer;

}

#books{

display:flex;
flex-wrap:wrap;
justify-content:center;

}

.book{

background:white;
width:250px;
margin:15px;
padding:15px;
border-radius:6px;
box-shadow:0 0 8px rgba(0,0,0,0.15);

}
